.noReserveSeat {
	width: 10px;
	height: 10px;
	border: solid 1px #000000;
	background-color: #000000;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}

.reserveSeat{
	width: 10px;
	height: 10px;
	border: solid 1px #000000;
	background-color: #FF0000;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}

.blankSeat{
	width: 10px;
	height: 10px;
	border: solid 1px #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}